[Unit]
Description=VirtualBox init System for invis-Servers
After=network.target

[Service]
ExecStart=/usr/bin/vboxinit start
ExecStop=/usr/sbin/vboxinit stop
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
